git+http://datalore.chem.gla.ac.uk/DMC/advionwrapper.git
jax
numpyro
theano
pymc3
rdkit
watchdog
matplotlib
numpy
scikit-learn
scipy
tensorflow
xlrd
openpyxl
arviz
pymc3
tensorflow
scipy
scikit-learn
numpy
matplotlib
theano
setuptools
pandas
execnet
tensorflow-gpu