git+https://gitlab.com/croningroup/personal/hmm/advionwrapper
git+https://gitlab.com/croningroup/origins/nmrkit
jax
numpyro
rdkit
watchdog
matplotlib
numpy
openpyxl
scipy
scikit-learn
pandas
tensorflow-gpu